<nav class="flex justify-around">
  <div>
    <ul class="flex justify-center items-center max-w-xs text-center text-lg p-0 list-none space-x-5 cursor-pointer">
      <li class="p-2.5 rounded-full border-none shadow-lg shadow-slate-500 w-full transition-colors duration-300 text-xl italic my-2.5 text-center hover:bg-green-600" (click)="home()">Inicio</li>
      <li class="p-2.5 rounded-full border-none shadow-lg shadow-slate-500 w-full transition-colors duration-300 text-xl italic my-2.5 text-center hover:bg-green-600" (click)="diet()">Dietas</li>
      <li class="p-2.5 rounded-full border-none shadow-lg shadow-slate-500 w-full transition-colors duration-300 text-xl italic my-2.5 text-center hover:bg-green-600" (click)="profile()">Perfil</li>
    </ul>
  </div>
  <div>
    <ul class="flex justify-center items-center max-w-xs text-center text-lg p-0 list-none space-x-5 cursor-pointer">
      <!-- <li class="p-2.5 rounded-full border-none shadow-lg shadow-slate-500 w-full transition-colors duration-300 text-xl italic my-2.5 text-center hover:bg-green-600" (click)="login()">Login</li> -->
      <li class="p-2.5 rounded-full border-none shadow-lg shadow-slate-500 w-full transition-colors duration-300 text-xl italic my-2.5 text-center hover:bg-green-600" (click)="cadastro()">Cadastro</li>
    </ul>
  </div>
</nav>
