<nav class="z-50 fixed w-full flex justify-around text-white p-1 animated-gradient shadow-xl shadow-slate-500 2xl:rounded-b-[50px] rounded-b-3xl -mt-4">
  <div>
    <ul class="flex justify-center items-center space-x-3 2xl:space-x-9 cursor-pointer">
      <li class="p-3 2xl:p-2.5 rounded-full border-none shadow-xl shadow-slate-500 w-20 2xl:w-48 transition-colors duration-300 text-base 2xl:text-xl italic my-5 text-center hover:bg-green-600" (click)="home()">Inicio</li>
      <li class="p-3 2xl:p-2.5 rounded-full border-none shadow-xl shadow-slate-500 w-20 2xl:w-48 transition-colors duration-300 text-base 2xl:text-xl italic my-5 text-center hover:bg-green-600" (click)="diet()">Dietas</li>
      <li class="p-3 2xl:p-2.5 rounded-full border-none shadow-xl shadow-slate-500 w-20 2xl:w-48  transition-colors duration-300 text-base 2xl:text-xl italic my-5 text-center hover:bg-green-600" (click)="profile()">Perfil</li>
    </ul>
  </div>
  <div>
    <ul class="flex justify-center items-center space-x-5 cursor-pointer">
      <li class="p-3 2xl:p-2.5 rounded-full border-none shadow-xl shadow-slate-500 w-20 2xl:w-48 transition-colors duration-300 text-base 2xl:text-xl italic my-5 text-center hover:bg-green-600" (click)="cadastro()">Cadastro</li>
    </ul>
  </div>
</nav>
