<div class="z-50 fixed top-0 xl:left-1/2 xl:transform xl:-translate-x-1/2 xl:w-3/4 w-full flex justify-between p-1 bg-[#fef2e2] shadow-md shadow-slate-700 xl:rounded-3xl rounded-b-3xl">
  <div class="font-bold text-5xl italic logo" (click)="home()">
    <span class="text-[#3b595d] absolute mx-16 my-2">KeepHealth</span>
    <span class="text-[#f79470] absolute mx-16 my-2 transform transition-all duration-300 hover:scale-110 cursor-pointer" style="left: 7px; top: 4px">KeepHealth</span>
  </div>
  <nav class="flex-1 flex justify-end gap-8 my-5 mt-6 select-none">
    <ul class="flex justify-center items-center cursor-pointer xl:space-x-9 space-x-3 mx-auto xl:mx-16">
      <li class="rounded-full border-none shadow-md shadow-slate-700 text-[#3b595d] hover:text-white xl:w-28 w-20 text-base xl:text-xl italic text-center bg-[#f79470] transform transition-all duration-300 hover:scale-110 hover:bg-[#3b595d]" (click)="home()">Inicio</li>
      <li class="rounded-full border-none shadow-md shadow-slate-700 text-[#3b595d] hover:text-white xl:w-28 w-20 text-base xl:text-xl italic text-center bg-[#f79470] transform transition-all duration-300 hover:scale-110 hover:bg-[#3b595d]" (click)="diet()">Dietas</li>
      <li class="rounded-full border-none shadow-md shadow-slate-700 text-[#3b595d] hover:text-white xl:w-28 w-20 text-base xl:text-xl italic text-center bg-[#f79470] transform transition-all duration-300 hover:scale-110 hover:bg-[#3b595d]" (click)="profile()">Perfil</li>
      <li class="rounded-full border-none shadow-md shadow-slate-700 text-[#3b595d] hover:text-white xl:w-28 w-20 text-base xl:text-xl italic text-center bg-[#f79470] transform transition-all duration-300 hover:scale-110 hover:bg-[#3b595d]" (click)="logout()">Logout</li>
    </ul>
  </nav>
</div>
