<app-sidebar></app-sidebar>
<section class="container">
    <form [formGroup]="loginForm">
        <label for="email">Email</label>
        <input type="text" id="email" formControlName="email"/>
      
        <label for="password">Senha</label>
        <input type="password" id="password" formControlName="password" />
      
        <button type="submit" (click)="onLogin()">Entrar</button>
        <button type="button" (click)="onForgotPassword()">Esqueci a senha</button>
        <button type="button" (click)="onRegister()">Cadastrar</button>
    </form>
</section>
