<div class="bg-[#fef2e2] xl:w-96 w-72 rounded-3xl mt-8 flex flex-col items-center justify-center p-8 border-[6px] border-[#f79470]" *ngFor="let atividade of atividades; let i = index">
    <img class="w-44 h-44 rounded-3xl" [src]="getImagemAtividade(atividade.tipo)" alt="{{ atividade.tipo }}">
    <h2>Atividade: {{ atividade.tipo }}</h2>
    <p>Data: {{ atividade.data | date:'dd/MM/yyyy' }}</p>
    <p *ngIf="atividade.distancia">Distância: {{ atividade.distancia }} km</p>
    <p *ngIf="atividade.tempo">Tempo: {{ atividade.tempo }} minutos</p>
    <button class="rounded-full border-none shadow-md shadow-slate-700 text-[#3b595d] hover:text-white w-44 text-base xl:text-base italic text-center bg-[#f79470] transform transition-all duration-300 hover:scale-110 hover:bg-[#3b595d]" (click)="excluirAtividade(i)">Excluir Atividade</button>
</div>
