<app-header></app-header>
<div class="parallax flex justify-center items-center min-h-screen slider-container">
  <div class="flex items-center justify-center 2xl:max-w-2xl max-w-80 bg-[#fef2e2] rounded-3xl p-8 border-[6px] border-[#f79470] shadow_extra">
    <button (click)="previous()" class="slider-arrow relative">
      <span class="text-[#3b595d] absolute"><</span>
      <span class="text-[#f79470] relative" style="left: -3px; top: 1px"><</span>
    </button>
    <div class="slider-content">
      <ng-container *ngFor="let item of list; let i = index">
        <div *ngIf="i === current" class="slider-item text-center">
          <h3 class="2xl:text-3xl text-xl font-bold italic mb-10">{{ item.name }}</h3>
          <div class="flex justify-center items-center ">
            <img [src]="item.imageLink" alt="{{ item.name }}" class="2xl:w-72 2xl:h-44 w-50 h-32 shadow-lg shadow-slate-700 rounded-3xl " />
          </div>
          <div>
            <p class="mt-4 text-lg w-96 font-bold text-gray-600 mx-auto">{{ item.description | slice:0:25 }}...</p>
          </div>            
          <div class="flex justify-center mt-4">
            <div *ngFor="let item of list; let i = index" class="dot" [ngClass]="{'active': i === current}" (click)="goToSlide(i)"></div>
          </div>
          <button (click)="goToDetails(item.id)" class="block mx-auto mt-8 rounded-full border-none shadow-md shadow-slate-500 text-[#3b595d] hover:text-white 2xl:w-28 w-20 text-base 2xl:text-2xl italic text-center bg-[#f79470] transform transition-all duration-300 hover:scale-110 hover:bg-[#3b595d]">Detalhes</button>
        </div>
      </ng-container>
    </div>
    <button (click)="next()" class="slider-arrow relative">
      <span class="text-[#3b595d] absolute">></span>
      <span class="text-[#f79470] relative" style="left: 3px; top: 1px">></span>
    </button>
  </div>  
</div>
