<app-header></app-header>
<section class="flex flex-col items-center justify-center mx-auto w-full max-w-xs text-center text-lg my-12">
    <h2 class="text-4xl font-bold italic mt-5 mb-2">Perfil do Usuário</h2>
  
    <p class="italic"><strong class="text-[#D2691E] font-black">Id:</strong> {{ userData.userCode }}</p>
    <p class="italic"><strong class="text-[#D2691E] font-black">Nome:</strong> {{ userData.name }}</p>
    <p class="italic"><strong class="text-[#D2691E] font-black">Email:</strong> {{ userData.email }}</p>
    <p class="italic"><strong class="text-[#D2691E] font-black">Idade:</strong> {{ userData.date | age }} anos</p>
    <p class="italic"><strong class="text-[#D2691E] font-black">Peso:</strong> {{ userData.weight }} kgs</p>
    <p class="italic"><strong class="text-[#D2691E] font-black">Altura:</strong> {{ userData.height | height }}</p>
    <p class="italic"><strong class="text-[#D2691E] font-black">Endereço:</strong> {{userAddress}}</p>
</section>
